<h1><%=@song.name%></h1>

<%if @song.artist_id%>
    <%=link_to @song.artist.name, artist_path(@song.artist_id)%>
<%end%>

<br>

<%if @song.genre_id%>
    <%=link_to @song.genre.name, genre_path(@song.genre_id)%>
<%end%>
